body{
    margin: 0;
    padding: 0;
}
.left-side-container {
    position: relative;
    font-size: 36px;
    /* z-index: -1; */
}

.right-side-container {
    position: relative;
    width: 100%;
    background-color: rgb(33, 32, 48);
}
img{
    position: relative;
    height: 100vh;
    z-index: -1;
}

.container {
    display: flex;
}

.text-block {
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
    background-color: rgba(25, 24, 41, 0.25);
    width: 100%;
}
.signUpForm{
    position: absolute;  
    top: 25%;
    width: 100%;
    height: 400px;
    background-color: rgb(28, 25, 43);

}
form{
    display: flex;
    height: 100%;
    width: max(100%, 700px);
    justify-content: center;
    align-items: center;
    gap: 150px;
}
form div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
input {
    height: 1.6rem;
    width: 15rem;
}