html{
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container {
    display: flex;
    flex-direction: row;
}
.left-side-container {
    position: relative;
    font-size: 2rem;
    height: 100vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 18rem; */
}
.right-side-container {
    /* position: relative; */
    background-color: #033d54;  
    height: 100vh;
    width: 78vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    position: absolute;
    height: 100%;
    /* width: 100%; */
    z-index: -1;
    vertical-align: bottom;
}

.text-block {
    display: flex;
    width: 100%;
    justify-content: center;

}
.text-block span {
    background: #5f485a17;
    opacity: 0.9;
    font-weight: 700;
    color: #d1f3ff;
    text-align: center;
    font-size: 2rem;
    /* height: 10rem; */
    /* padding-top: 10rem; */
    margin-top: 6rem;
}
.text-block #title{
    position: absolute;
    margin: 5px 5px;
    color: white;
    bottom: 0;
    right: 0;
    opacity: 0.4;
}
.signUpForm {
    background-color: #274259;
    height: 15rem;
}

form {
    display: flex;
    height: 15rem;
    justify-content: center;
    align-items: center;
    gap:15rem;
    margin-left: 100px;
    margin-right: 100px;
}
.left-part-form, .right-part-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left-part-form div, .right-part-form div {
    display: flex;
    flex-direction: column;
    color:white
}
input {
    width: 17rem;
    height: 1.8rem;
    border: 0;
    border-radius: 0.2rem;
    background-color: #3F7E8C;
    color:white;
    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.submit-section {
    position: relative;
    color:white;
    width: 100%;
    top: 1rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5rem;
}

.submit-section button {
    color: white;
    width: 12rem;
    height: 3rem;
    border: 0;
    border-radius: 0.3rem;
    background-color: #274259;
    font-weight: 700;
    box-shadow: 1px 3px 2px #629bcc6c;
}

.submit-section a {
    text-decoration: none;
    color:#3F7E8C;
    font-weight: 700;
}
.description{
    display: flex;
    flex-direction: column;
    position: relative;
    /* color: #F2D7B6; */
    color: #59C1D9;
    left: 3rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    width: 90%;

}
.description p {
    margin: 0;
}
@media screen and (max-width:1100px){
    form {
        gap:5rem;
    }
    .right-side-container{
        width: 70vw;
    }
}
@media screen and (max-width:920px){
    input{
        width: 12rem;
    }
    
}
@media screen and (max-width:750px){
    html{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:600px){
    .container {
        flex-direction: column;
    }
    .left-side-container {
        height: 30vh;
        width: 100vw;
       
        /* min-width: 18rem; */
    }
    .right-side-container {
        height: 80vh;
        width: 100vw;
        justify-content: start;

    }
    img {
        position: absolute;
        object-fit: cover;
        object-position: 50% 25%;
        /* height: 100%; */
        width: 100%;
    }
    .text-block span {
        margin-top: 0;
        margin-bottom: 12rem;
    }
    .description {
        padding: 2rem 0;
        font-size: 2.2rem;
    }
}